name: Format check

on:
  push:
    branches:
      - main
      - dev*
    tags: ["*"]
  pull_request:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1'
      - uses: actions/checkout@v5
      - name: Format check
        shell: julia --color=yes {0}
        run: |
          using Pkg
          # If you update the version, also update the style guide docs.
          Pkg.add(PackageSpec(name="JuliaFormatter", version="2"))
          using JuliaFormatter
          format("."; verbose = true)
          out = String(read(Cmd(`git diff`)))
          if isempty(out)
              exit(0)
          end
          @error "Some files have not been formatted !!!"
          write(stdout, out)
          exit(1)
